__pycache__/
*.py[cod]
*$py.class
*so
build/
*.egg-info/
*egg
wheels/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/