Debug ................ : 1
Image Count .......... : 40
Generate Images ...... : 1
Image Width .......... : 256
Image Height ......... : 256
PSF Sigma ............ : 1.0
Object Brightness .... : 500.0
Object Initial x ..... : 150.0
Object Initial y ..... : 100.0
Velocity x ........... : 0.6
Velocity y ........... : -0.75
Background Level ..... : 1024.0
Background Sigma ..... : 8.0
Angles to Search ..... : 250
Velocities to Search . : 50
Minimum Velocity ..... : 0.80
Maximum Velocity ..... : 1.20
Write to file ........ : 1
Source Images Path ... : ../testImgs/
Generated Images Path  : ../toyimages/generated/
Psi Images Path ...... : ../toyimages/psi/
