Debug ................ : 1
Image Count .......... : 5
Generate Images ...... : 0
Image Width .......... : 1000
Image Height ......... : 1000
PSF Sigma ............ : 1.0
Object Brightness .... : 2500.0
Object Initial x ..... : 150.0
Object Initial y ..... : 100.0
Velocity x ........... : 0.6
Velocity y ........... : -0.75
Background Level ..... : 1024.0
Background Sigma ..... : 32.0
Angles to Search ..... : 80
Velocities to Search . : 30
Minimum Velocity ..... : 0.80
Maximum Velocity ..... : 1.20
Write to file ........ : 1
Source Images Path ... : ../testImgs/
Psi Images Path ...... : ../toyimages/psi/
Phi Images Path....... : ../toyimages/phi/
