Debug ................ : 1
    PSF Sigma ............ : 1.3
    Mask Threshold ....... : 0.4
    Mask Penalty ......... : -0.002
    Subtract Average ..... : 0.0
    Terminate Threshold .. : 1.0
    Slope Reject Threshold : 1000.0
    Angles to Search ..... : 50
    Minimum Angle ........ : 0.28
    Maximum Angle ........ : 0.38
    Velocities to Search . : 120
    Minimum Velocity ..... : 275.
    Maximum Velocity ..... : 355.
    Psi/Phi to file ...... : 1
    Source Images Path ... : ../../../../HITS/tract_6/3,6tempExp/new_header/
    Psi Images Path ...... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/psi/
    Phi Images Path....... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/phi/
    Results Path ......... : ../../../data/results/HITS1.txt
    
