Debug ................ : 1
    PSF Sigma ............ : 1.0
    Mask Threshold ....... : 7
    Mask Penalty ......... : -0.001
    Subtract Average ..... : 0.0
    Terminate Threshold .. : 1.0
    Slope Reject Threshold : 1000.0
    Angles to Search ..... : 35
    Minimum Angle ........ : 0.28
    Maximum Angle ........ : 0.38
    Velocities to Search . : 55
    Minimum Velocity ..... : 275.
    Maximum Velocity ..... : 355.
    Psi/Phi to file ...... : 1
    Source Images Path ... : ../../../../HITS/test_27/3,5tempExp/new_header/
    Psi Images Path ...... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/psi/
    Phi Images Path....... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/phi/
    Results Path ......... : ../../../data/results/HITS1.txt
    
