Debug ................ : 1
PSF Sigma ............ : 1.0
Mask Threshold ....... : 0.75
Mask Penalty ......... : -0.05
Angles to Search ..... : 120
Minimum Angle ........ : 0.0
Maximum Angle ........ : 6.283
Velocities to Search . : 45
Minimum Velocity ..... : 0.4
Maximum Velocity ..... : 6.0
Psi/Phi to file ...... : 1
Source Images Path ... : ../../../../bryce_samples/
Psi Images Path ...... : ../../../code/gpu/output-images/psi/
Phi Images Path....... : ../../../code/gpu/output-images/phi/
Results Path ......... : ../../../data/results/bryce_images.txt
