Debug ................ : 1
    PSF Sigma ............ : 1.0
    Mask Threshold ....... : 15
    Mask Penalty ......... : 0.0
    Subtract Average ..... : 0.0
    Terminate Threshold .. : 1.0
    Slope Reject Threshold : 1000.0
    Angles to Search ..... : 45
    Minimum Angle ........ : 0.11073467116
    Maximum Angle ........ : 0.634333446758
    Velocities to Search . : 25
    Minimum Velocity ..... : 280.
    Maximum Velocity ..... : 365.
    Psi/Phi to file ...... : 1
    Source Images Path ... : ../../../../fraizer/chip_1/
    Psi Images Path ...... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/psi/
    Phi Images Path....... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/phi/
    Results Path ......... : ../../../data/results/maskTest.txt
    
