Debug ................ : 1
Image Count .......... : 5
Generate Images ...... : 0
Image Width .......... : 500
Image Height ......... : 500
PSF Sigma ............ : 1.0
Object Brightness .... : 360.0
Object Initial x ..... : 320.0
Object Initial y ..... : 180.0
Velocity x ........... : -1.3
Velocity y ........... : -0.2
Background Level ..... : 1024.0
Background Sigma ..... : 32.0
Mask Threshold ....... : 40.0
Mask Penalty ......... : -0.035
Angles to Search ..... : 30
Minimum Angle ........ : 0.0
Maximum Angle ........ : 0.8
Velocities to Search . : 20
Minimum Velocity ..... : 300
Maximum Velocity ..... : 500
Write to file ........ : 1
Source Images Path ... : ../../../code/gpu/images/chip_7/
Psi Images Path ...... : ../../../code/gpu/output-images/psi/
Phi Images Path....... : ../../../code/gpu/output-images/phi/
