Debug ................ : 1
    PSF Sigma ............ : 1.0
    Mask Threshold ....... : 0.2
    Mask Penalty ......... : -0.002
    Subtract Average ..... : 0.0
    Terminate Threshold .. : 1.0
    Slope Reject Threshold : 1000.0
    Angles to Search ..... : 120
    Minimum Angle ........ : 0.0
    Maximum Angle ........ : 3.0
    Velocities to Search . : 55
    Minimum Velocity ..... : 0.5
    Maximum Velocity ..... : 6.5
    Psi/Phi to file ...... : 1
    Source Images Path ... : ../../../../bryce_samples/
    Psi Images Path ...... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/psi/
    Phi Images Path....... : /home/kbmod-usr/cuda-workspace/kbmod/code/gpu/output-images/phi/
    Results Path ......... : ../../../data/results/bryce_samples_15PerPixel.txt
    
