name: Build and deploy docs
on:
  pull_request:
    branches:
      - 'doc/**'
      - 'docs/**'
    tags:
      - "*"
  push:
    branches:
      - main
    tags:
      - "*"

#on:
#  schedule:
#    - cron: 0 0 * * MON

env:
  CONDA: /local/tmp/kbmod-runner/miniconda3

jobs:
  build-docs:
    name: Build docs
    runs-on: self-hosted #[self-hosted, baldur]
    defaults:
      run:
        shell: bash -leo pipefail {0}
    steps:
      - name: Setup environment
        run: echo "/usr/local/cuda-12/bin" > $GITHUB_PATH
      - name: Setup miniconda
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
          activate-environment: kbmod_docs_clone
      - name: Switch environments
        run: |
          conda deactivate
          conda activate kbmod_docs
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build KBMOD
        run: |
          python -m pip install .[docs]
      - name: Build docs
        run: |
          mkdir docs/
          sphinx-build -b html docs/source docs/build/
      - name: Deploy docs
        if: ${{ startsWith(github.event.head_commit.message, "[deploy_docs]") }}
        run: |
          mv docs/build/* /epyc/users/kbmod/public_html/
      - name: Deploy alpha
        if: ${{ startsWith(github.event.head_commit.message, "[deploy_alpha]") }}
        run: |
          mv docs/build/* /epyc/users/kbmod/public_html/alpha/
